@media (max-width: 1100px){

    .about__wrapper{
        flex-wrap: wrap;
        gap: 50px;
    }

    .about__info{
        flex-basis: 900px;
        text-align: center;
    }

    .about__info-suptitle{
        display: inline-block;
    }

    .blog__wrapper{
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        flex-direction: column-reverse;
    }

    .blog__info{
        max-width: 700px;
    }


}

@media (max-width: 1062px){

    .service__wrapper{
        justify-content: center;
        flex-direction: column-reverse;
        gap: 50px;
    }

    .service__info{
        flex-basis: 0;
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
    }

    .service__info-items{
        justify-content: center;
        align-items: center;
    }

}


@media (max-width: 960px){
    /* BURGER MENU */

    .menu-btn{
       display: inline-block;
       width: 50px;
       height: 50px;
       background-color: transparent;
       order: 1;
       border: none;
       cursor: pointer;
       position: relative;
       z-index: 50;
   }

   .logo{
       position: relative;
       z-index: 50;
   }

   .nav__about{
        position: relative;
        z-index: 50;
   }

   .btn-line{
       position: absolute;
       left: 0;
       width: 100%;
       background-color: #fff;
       height: 2px;
       transition: .3s ease-in;
   }

   .btn-line:nth-child(1){
       top: 0;
   }
   .btn-line:nth-child(2){
       top: 20px;
   }
   .btn-line:nth-child(3){
       top: 20px;
   }
   .btn-line:nth-child(4){
       top: 40px;
   }
   
   .menu-open .btn-line:nth-child(1){
       transform: scaleX(0);
   }
   .menu-open .btn-line:nth-child(2){
       transform: rotate(45deg);
   }
   .menu-open .btn-line:nth-child(3){
       transform: rotate(-45deg);
   }
   .menu-open .btn-line:nth-child(4){
       transform: scaleX(0);
   }

   .nav__items{
       position: absolute;
       z-index: 1;
       left: 0;
       right: 0;
       bottom: 0;
       top: 0;
       background: #000;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       gap: 30px;
       transform: translateY(-100%); /*убирается с страницы*/
       transition: .3s ease-in;
   }

   .menu-open .nav__items{
       transform: translateY(0%); /*при клике добавляется бургер меню*/
   }

   .nav__item-link{
    color: #fff;
   }
}

@media (max-width: 930px){

    .footer__items{
        
    }

}

@media (max-width: 812px){

    .footer__copyright{
        justify-content: center;
        gap: 30px;
    }

}

@media (max-width: 610px){

    .team__header{
        gap: 50px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .team__header-title{
        text-align: center;
    }

}